<launch>

	<arg name="image" default="/camera/rgb/image_raw" />
	<arg name="camera_info" default="/camera/rgb/camera_info" />
	<arg name="predictions" default="/ros_caffe/predictions" />

	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find ros_caffe)/cfg/custom_rosconsole.conf"/>

	<node pkg="ros_caffe" type="ros_caffe_node" name="ros_caffe" output="screen">
		<param name="model_path"    value="$(find ros_caffe)/data/deploy.prototxt"/>
		<param name="weights_path"  value="$(find ros_caffe)/data/bvlc_reference_caffenet.caffemodel"/>
		<param name="mean_file"     value="$(find ros_caffe)/data/imagenet_mean.binaryproto"/>
		<param name="label_file"    value="$(find ros_caffe)/data/synset_words.txt"/>

		<remap from="~image"        to="$(arg image)"/>
		<remap from="~camera_info"  to="$(arg camera_info)"/>
		<remap from="~predictions"  to="$(arg predictions)"/>
	</node>

</launch>
